BROWSER=none
REACT_APP_LAUNCH_MEME_API=https://launch.meme/api
REACT_APP_LAUNCH_MEME_WS=wss://launch.meme/connection/websocket
REACT_APP_LAUNCH_MEME_WS_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjMiLCJpYXQiOjE3NTcxNjY4ODh9.VEvlNmvIFS3ARM5R0jlNN4fwDDRz94WnKv8LDmtipNE
REACT_APP_LAUNCH_MEME_WS_PREFIX=pumpfun
REACT_APP_LAUNCH_MEME_API=https://launch.meme/api
REACT_APP_LAUNCH_MEME_WS=wss://launch.meme/connection/websocket
REACT_APP_LAUNCH_MEME_WS_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjMiLCJpYXQiOjE3NTcxNjY4ODh9.VEvlNmvIFS3ARM5R0jlNN4fwDDRz94WnKv8LDmtipNE

